body {
	background: #201513;;
	height: 3369px;
	overflow-x: hidden;
	margin: 0;
}

.page {
}

.container {
	max-width: 1218px;
	width: 65%;
	margin: 0 auto;
}
@media screen and (max-width:1600px)
{
	.container{
		width: 90%;
	}
}
