header
    .container
        .mask
        .top-menu
            .left
                a(href="#") 
                    .logo
                        img(src="../../../img/logo-top.png", alt="")
                    .text-logo Whiskey Coin
            .right
                nav
                    ul
                        li 
                            a(href="") Home
                        li 
                            a(href="") Chart
                        li 
                            a(href="") Reflection
                        li 
                            a(href="") Tokenomics
                        li 
                            a(href="") Roadmup
                button(class="button") Presale
            ul.burger 
                li 
                li 
                li 
                li
            nav.header-navbar-burger
                ul.header-navbar-nav-burger
                    li
                        a(href="") Home
                    li 
                        a(href="") Chart
                    li 
                        a(href="") Reflection
                    li 
                        a(href="") Tokenomics
                    li 
                        a(href="") Roadmup
                    li
                        button(class="button") Presale
                a(href="#",class="mobile-logo") 
                    .logo
                        img(src="img/logo-top.png", alt="")
                    .text-logo Whiskey Coin
                .mobile-back
        .banner
            .banner-back
            .banner-img#parallax-coin(data-relative-input="true")
                img(src="img/coin-banner.png", data-depth="0.20")
            .banner-offer
                .banner-h1 Whiskey Coin
                .banner-h2 The strongest Defi token
                .banner-description Established for the real whisky lovers. First community driven alcohol coin. 6 months liquidity lock. 4% remains for marketing. Stay tuned, be ready for Presale!
                .banner-buttons 
                    a(href="").button-telegram Telegram
                    a(href="").button-paper White Paper
            //- .banner-img 
            //-     img(src="img/coin-banner.png", alt="")   