header{
    position: relative;
    .mask{
        position: absolute;
        width: 1721.95px;
        height: 1067.66px;
        // background: #7A3C2F;
        filter: blur(80px);
        // transform: matrix(-0.87, -0.5, -0.5, 0.87, 0, 0);
        z-index: -1;
        // left: -471.43px;
	    // top: -582.03px;
        // border-radius: 800px;
        background: url(../../img/top_back.png);
        left: 0px;
        top: -42px;
        
    }
}
.top-menu{
    margin-top: 43px;
    // margin-bottom: 136px;
    margin-bottom: 198px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color:#FFFFFF;
    font-family: "Proxima Nova" !important;
    .left{
        a{
            display: flex;
            align-items: center;
            text-decoration: none;
            color: #FFFFFF;
        }
        .logo{
            margin-right: 20px;
            img{
                width: 74px;
                height: auto;
            }
        }
        .text-logo{
            font-style: normal;
            font-weight: 800;
            font-size: 30px;
            line-height: 124.3%;
            margin-top: -8px;
        }
    }
    .right{
        display: flex;
        flex-direction: row;
        align-items: center;
        nav{
            font-style: normal;
            font-weight: normal;
            font-size: 19px;
            line-height: 124.3%;
            ul{
                display: flex;
                flex-direction: row;
                list-style-type: none;
                margin-right: 40px;
                li{
                    padding-right: 34px;
                    &:last-child{
                        padding-right: 0px;
                    }
                    a{
                        text-decoration: none;
                        color: #FFFFFF;
                    }
                }
            }
        }
        
    }
}
.button{
    background: linear-gradient(100.41deg, #F15719 0%, #D0420A 100%);
    border-radius: 6px;
    border: none;
    padding: 16px 35px;
    cursor: pointer;
    color:#FFFFFF;
    font-weight: 600;
}
.banner{
    display: flex;
    // width: 55%;
    .banner-offer{
        font-family: "Proxima Nova" !important;
        color:#FFFFFF;
        // max-width: 650px;
        max-width: 675px;
        .banner-h1{
            font-style: normal;
            font-weight: 800;
            font-size: 60px;
            line-height: 124.3%;
            letter-spacing: 0.6px;
        }
        .banner-h2{
            font-style: normal;
            font-weight: 400;
            font-size: 60px;
            line-height: 124.3%;
            letter-spacing: 4.7px;
        }
        .banner-description{
            font-style: normal;
            font-weight: 300;
            font-size: 18px;
            line-height: 134.3%;
            margin-top: 43px;
            // margin-bottom: 23px;
            margin-bottom: 61px;
        }
        .banner-buttons{
            display: flex;
            flex-direction: row;
            .button-telegram{
                height: 16px;
                background: linear-gradient(100.41deg, #F15719 0%, #D0420A 100%);
                border-radius: 6px;
                padding: 16px 35px;
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-right: 18px;
                text-decoration: none;
                color: #FFFFFF;
                &::after{
                    content: url("../img/telegram.png");
                    // width: 14.4px;
                    height: 15px;
                    padding-left: 8px;
                }
            }
            .button-paper{
                height: 16px;
                background: linear-gradient(100.41deg, #F15719 0%, #D0420A 100%);
                border-radius: 6px;
                padding:16px 37.5px;
                text-decoration: none;
                color: #FFFFFF;
            }
        }
    }
}
.banner-back{
    position: absolute;
    width: 1106.26px;
    height: 900.86px;
    background: url("../img/back-banner.png") no-repeat;
    z-index: -1;
    top: 110px;
    left: 1080.4px;
}
.banner-img{
    position: absolute;
    // background-image: url("../img/coin-banner.png");
    width: 533px;
    height: 575px;
    // top: 120px;
    // left: 53vw;
    top: 179px;
    left: 53.9vw;
}
.header-navbar-burger{
    display: none;
}
.header-navbar-burger.active .header-navbar-nav-burger {
    display: flex;
    flex-direction: column;
    // height: 100vh;
    list-style-type: none;
    justify-content: center;
    z-index: 3;
    li{
        padding-bottom: 25px;
    }
    a{
        text-decoration: none;
        // color:#FFFFFF;
    }
  }
.header-navbar-burger.active {
    left: 0px;
    position: fixed;
    width: 100%;
    height: 100%;
    right: 0;
    top: 0;
    z-index: 1;
    background: #201513;
    margin-right: -50px;
    width: 100%;
    padding-left: 100px;
    margin-right: -50px;
    padding-right: 50px;
    text-align: center;
    padding-left: 0px;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    .mobile-logo{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: #FFF;
        font-family: "Proxima Nova" !important;
        font-style: normal;
        font-weight: 800;
        font-size: 24px;
        line-height: 124.3%;
        z-index: 3;
    }
    li{
        a{
            font-family: "Proxima Nova" !important;
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 124.3%;
            color: #FFFFFF;
        }
    }
  }
.mobile-back{
    display: none;
    position: absolute;
    width: 1409.93px;
    height: 874.2px;
    // background: #7A3C2F;
    // filter: blur(800px);
    // transform: matrix(-0.87, -0.5, -0.5, 0.87, 0, 0);
    // border-radius: 800px;
    // z-index: 2;
    background: url(../../img/mobile_back.png);
    filter: blur(80px);
    background-repeat: no-repeat;
    background-size: 100%;
    // top: -589px;
    // left: -1026px;
}
// .burger{
//     display: none;
// }
@media screen and (max-width:1800px)
{
    .banner-img{
        left: 58.9vw;
    } 
}
@media screen and (max-width:1600px)
{
    .banner-img{
        left: 63vw;
    }
    .banner-back{
        left: 64.5vw;
    }
}
@media screen and (max-width:1300px)
{
    .banner-img{
        // left: 73vw;
    }
}
@media screen and (max-width:1100px)
{
    .banner-img{
        display: none;
    }
    .banner{
        justify-content: center;
    }
    .banner .banner-offer .banner-h1{
        text-align: center;
    }
    .banner .banner-offer .banner-h2
    {
        text-align: center;
    }
    .banner .banner-offer .banner-description
    {
        text-align: center;
    }
    .banner .banner-offer .banner-buttons{
        justify-content: center;
    }
}
@media screen and (max-width:1020px)
{
    .top-menu .right{
        display: none;
    }
    .burger{
        display: block;
    }
    .banner .banner-offer .banner-h2{
        letter-spacing: 1.7px;
    }
}
@media screen and (max-width:650px)
{
    .banner .banner-offer .banner-h1{
        font-size: 50px;
    }
    .banner .banner-offer .banner-h2{
        font-size: 40px;
    }
    .banner .banner-offer .banner-description{
        margin-top: 25px;
        text-align: justify;
    }
    .platforms .mine-coin span{
        font-size: 74px !important;
    }
}
@media screen and (max-width:520px)
{
    .banner .banner-offer .banner-h1{
        font-size: 40px;
    }
    .banner .banner-offer .banner-h2{
        font-size: 30px;
    }
    .platforms .mine-coin span{
        font-size: 64px !important;
    }
    .platforms .mine-coin img{
        width: 345px !important;
    }
}
@media screen and (max-width:420px)
{
    .banner .banner-offer .banner-h1{
        font-size: 35px;
    }
    .banner .banner-offer .banner-h2{
        font-size: 25px;
    }
    .banner .banner-offer .banner-buttons .button-paper{
        padding: 5px 7px;
    }
    .banner .banner-offer .banner-buttons .button-telegram{
        padding: 5px 7px;
    }
    .platforms .mine-coin span{
        font-size: 54px !important;
    }
    .platforms .mine-coin img{
        width: 280px !important;
    }
    .top-menu .left .logo img{
        width: 63px !important;
    }
    .top-menu .left .text-logo{
        font-size: 24px;
    }
}