include ../components/pug/vars.pug
include ../components/pug/mixin.pug

doctype
html
	head
		include ../components/pug/meta.pug
		include ../components/pug/links.pug
		+title('Index page')
		+desc('Index page desc')
	body

		include ../blocks/header/header.pug

		main.page-container
			p 1s

		include ../blocks/footer/footer.pug
		include ../components/pug/scripts.pug