section.characteristic
        .container
            .outside-block
                canvas#border-out(style="max-width:1218px;width:100%")
                .inside-block
                    img(src="img/character-image.png", alt="")
                    .characteristic-elems
                        .element.color1
                            span Total Suply
                            span 1,000,000,000
                        .element.color2
                            span psc liquidity
                            span 70%
                        .element.color3
                            span soft cap
                            span 300BNB
                        .element.color1
                            span hard cap
                            span 400BNB
                        .element.color2
                            span min contribution
                            span 0,1 BNB
                        .element.color3
                            span max contribution
                            span 2 BNB
                        .element.color1
                            span liquidity locked till
                            span 07/06/2022