section.platforms
	.main-back
	.container
		.mine-coin
			img(src="./img/logo-anim2.gif", alt="")
			span Whiskey Coin
		.platforms-elems
			.element
				img(src="img/logocs1.png", alt="",style="width: 195px;height: 194px;")
				button(class="button") Coinsniper
			.element
				img(src="img/pp2.png", alt="",style="width: 184px;height: 184px;margin-bottom: 45px;")
				button(class="button") Coinhunt
			.element
				img(src="img/reddit.png", alt="width: 175px;height: 160px;")
				button(class="button") Reddit
			.element
				img(src="img/bscscan.png", alt="width: 166px;height: 165px;")
				button(class="button") Contract
